
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


body{
    background-color: black;
    color: white
}


.left{
    width:25vw;
    padding: 10px;
}

.right{
    width: 75vw;
    position: relative;
}

.logo{
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.close{
    display: none;
}


.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.library{
    margin-top: 10px;
}

.heading{
    display: flex;
    gap: 15px;
    width:100% ;
    padding-top: 14px;
    padding-bottom: 10px;
    font-weight: bold;
}
.heading img{
    width: 25px;
}
.library{
    overflow-x: hidden;
    min-height: 80vh;
    position: relative;

}

.footer{
    
    display: flex;
    font-size: 13px;
    color: grey;
    gap: 13px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    justify-items:center;
    
}

.footer a{
    color: grey;
    margin-top: 30px;
}



.header{
    justify-content: space-between;
    background-color: rgb(30, 29, 29);
}

.header > *{
    padding: 20px;
}

.spotifyPlaylists{
    padding: 16px;
}

.cardContainer{
    margin: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y:auto;
    max-height: 70vh;
}

.card{
    width: 200px;
    padding: 7px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}
.card > *{
    padding-top: 3px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play{
    width: 50px;
    height: 50px;
    background-color: rgb(17, 183, 17);
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: absolute;
    top: 150px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}

buttons > *{
    margin: 0 12px;
}

.signupbtn{
    background-color: rgb(30, 29, 29);
    color: rgb(56, 55, 55);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
}

.signupbtn:hover{
    font-size: 17px;
    color:aliceblue;
    cursor: pointer;
}

.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.loginbtn:hover{
    font-weight: bold;
    padding: 10px 14px;

}

.playbar{
    position:fixed;
    bottom: 20px;
    background-color: #dedede;
    border-radius: 10px;
    filter: invert(1);
    width: 90%;
    width: 70vw;
    padding: 12px;
    margin-top: 10px;
    min-height: 40px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList{
    overflow-y: scroll;
    max-height: 55vh;
    margin:40px 0;
}

.songList ul{
    padding: 0 10px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 13px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding : 13px;
    border-radius: 5px;
   
}

.songList .info{
    font-size: 12px;
    width: 344px;
}

.playnow{
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    margin-right: 10px;
    font-size: 14px;
    width: 64px;
    color: #746c6c;
}

.seekbar{
    height: 2px;
    width: 98%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin-top: 5px;
    cursor: pointer;
}

.circle{
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img{
    cursor: pointer;
}

.timevol{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo{
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime{
    color: black;
    padding: 0 12px;
    width: 125px;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.songDetail{
    display:flex;
    justify-content: space-between;
}

.menu{
    display: none;
    width: 55px;
}

.menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}


@media (max-width: 1365px){
    .left{
        position: absolute;
        left: -120%;
        background-color: black;
        transition: all .3s;
        z-index: 1;
        width:350px;
        padding: 0;
    }
    .left .close{
        display: block;
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .songinfo, .songtime{
        width: auto;
    }

    .info div{
        word-break: break-all;
    }

    .right{
        width: 100vw;
    }

    .playbar{
        width:85vw;
    }
    .seekbar{
        width: 84vw;
    }
    .menu{
        display: block;
    }
    .card{
        width: 90vw;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
    }
    .songDetail{
        flex-direction: column;
        gap: 23px;
        align-items: center;

    }
}

@media(max-width: 400px){

    .card{
        width: 84vw;
    }
}