
.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{

    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-gray{
    background-color: #121212;
    color: white;
}

.rounded{
    border-radius: 7px;
}

.m-2{
    margin: 5px;
}
.p-1{
    padding: 10px;
}


::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    background-color: #2c2c2c; /* Background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Color of the thumb on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Make scrollbar thin */
    scrollbar-color: #555 #2c2c2c; /* Thumb color and track color */
}

/* For Internet Explorer and Edge */
.scrollable {
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide scrollbar when not in use */
}